<%if !current_user%>  
  <%=form_tag users_login_path do %>
    <fieldset>
      <div class="form-group">
        <label>Login</label>
        <%=text_field_tag "login",nil,:class=>'form-control',:placeholder=>'Enter Name' %>
      </div>
      <div class="form-group">
        <label>Password</label>
        <%=password_field_tag "password",nil,:class=>'form-control',:placeholder=>'Enter Password' %>
      </div>
      <%=submit_tag "Submit", :class=>'btn btn-lg btn-success btn-block' %>
    </fieldset>
  <%end%>
<%else%>
  <div id="paymentError" class="alert alert-danger" style="text-align:center;display:none"></div> 
  <%= form_tag '',:id=>"cardOnFileForm",:remote=>"true", :validate=>true,:class=>"register-form"  do %>
    <div class="form-group">
      <label>Name on Card</label>
      <%= text_field_tag "cardholder_name" ,nil,:placeholder =>"John Doe",:class=>"required form-control"%>
    </div>
    <div class="form-group">
      <label>* Card Number</label>
      <%= text_field_tag "card_number" ,nil,:placeholder =>"4444 4444 4444 4444",:class=>"required form-control"%>  
    </div>
    <div class="form-group">
      <label>* Expiry Date</label>
      <%= date_select 'expiration_date', nil,:discard_day => true, :start_year => Time.now.year-10, :end_year => Time.now.year+15,:order=>[:month,:year]%>
    </div>
    <div class="form-group">
      <label>Zip Code</label>
      <%= text_field_tag "zip_code" ,nil,:placeholder =>"22222",:class=>"required form-control"%>
    </div>
    <div class="form-group">
      <label>* CVV</label>
      <%= text_field_tag "card_cvv" ,nil,:placeholder =>"111",:class=>"required form-control"%>
    </div> 
    <div class="form-group">
      <label>* Amount</label>
      <%= text_field_tag "amount" ,nil,:placeholder =>"$",:class=>"required form-control"%>
    </div>        
    <div class="form-group">
      <label>&nbsp;</label>
      <span id="donationGif"><img src="/assets/stripe_loader.gif"></span>
    </div>      
    <div class="form-group">
      <label>&nbsp;</label>
      <%= submit_tag "SUBMIT", :class=>"btn btn-lg btn-success btn-block" ,:id=>"submit"%>
    </div>                         
    </br></br>
<% end %>                


<script type="text/javascript">
// Add your account publishable key in place of ################################
Stripe.setPublishableKey("#############################");
  
    $(document).ready( function()
    { 
      $("#donationGif").hide();
      function show_error(error)
      {
        $("#paymentError").show();
        $("#paymentError").fadeIn(1000).text(error);
        $("#submit").removeAttr("disabled").css({ cursor : "pointer" });      
      }  

    function stripeResponseHandler(status, response) {      
      if (response.error) {
        $("#donationGif").fadeOut(200);
        show_error(response.error.message);
      }else{
        $("#paymentError").fadeOut(1000);
        var form$ = $("#cardOnFileForm");
        var token = response['id'];
        form$.append("<input type='hidden' name='stripeToken' id='stripeToken' value='" + token + "'/>");
        $('#submit').attr("disabled", "disabled").css({ cursor : "default" });          
        
        $.ajax({ type: 'POST', url: "/users/add_balance", data: ({ 'stripeToken' : $("#stripeToken").val(),'amount' : $("#amount").val(),'user_id' :' <%=current_user.id%>','authenticity_token': "<%=form_authenticity_token%>"}), 
          success: function(data) {
            $("#donationGif").fadeOut(200);
            $("#submit").removeAttr("disabled").css({ cursor : "pointer" });
            if(data.paid){
              window.location.href='/users/show_account'
            }else{
              window.location.href='/users/index'
            }
          },
          error: function( ) {
            $("#submit").removeAttr("disabled").css({ cursor : "pointer" });
            $("#donationGif").fadeOut(200);
          }
        });                
      }
    }
    $('#cardOnFileForm').submit(function(event) { 
      $('#submit').attr("disabled", "disabled");
      $("#donationGif").fadeIn(200);
      Stripe.createToken({
        number: $('#card_number').val(),
        cvc: $('#card_cvv').val(),
        exp_month: $('#expiration_date__2i').val(),
        exp_year: $('#expiration_date__1i').val()
      }, stripeResponseHandler);
      return false;        
    });
  });

</script>
            
<%end%>
