<div class="table-responsive">
	<h1>Account Balance Sheet</h1>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
	    <thead>
	        <tr>
	            <th>S No.</th>
	            <th>Date</th>
	            <th>Amount</th>
	            <th>Card Type</th>
	            <th>Card No</th>
	            <th>Transaction Id</th>
	        </tr>
	    </thead>
	    <tbody>
		    <%@transactions.each_with_index do |transaction,index|%>
		        <tr class="odd gradeX">
		            <td><%=index+1%></td>
					<td><%=transaction.created_at.to_date%></td>
					<td><%=number_to_currency(transaction.amount)%></td>
					<td><%=transaction.card_type%></td>
					<td>XXXX-XXXX-XXXX-<%=transaction.last4%></td>
					<td><%=transaction.transaction_id%></td>
				</tr>
			<%end%>   
	    </tbody>
	</table>
</div>
