<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stripe Demo</title>
    <%= stylesheet_link_tag   "sb-admin-2.css", "bootstrap.min.css","application", media: "all", "data-turbolinks-track" => true %>
    <link href="/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/assets/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <%= javascript_include_tag "application","jquery-1.7.1.min.js",'stripe.js',"jquery.selection.js","sb-admin-2.js","bootstrap.min.js", "data-turbolinks-track" => true %> 
  	
    <script src="/assets/plugins/metisMenu/metisMenu.min.js"></script>
	<script src="/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<img class="img-responsive" src="/assets/logo.png" alt="">
            </div>
      

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse"></div>
        </div>
    </nav>
    <br/>

    <div id="page-wrapper">
    	<h1 class="page-header">Stripe Demo</h1>
        <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Steps to be followed for Stripe Demo.
            </div>
            <div class="panel-body">
                <p class="lead"></p>
                <p> 1) Enter Name and Password.</p>
                <p> 2) Click on the Submit button to LogIn.</p>
                <p> 3) Enter all the details mentioned ex: Name, Card Number, Expiry Date, Zip Code, CVV and Amount.</p>
                <p> 4) Fields marked with * are mandatory.</p>
                <p> 5) Click on the SUBMIT button and see the Account Balance sheet.</p>
                <p> 6) Click on the Sign Out and come out of the app.</p>
                <p> <h1>Test Card</h1></p>
                <p>    Name: Any Name </p>
                <p>    Card Number: 4242424242424242 </p>
                <p>    Expiry Date: Greater than today's Date </p>
                <p>    Zip Code: Any Valid Zip Code </p>
                <p>    CVV: 123 </p>
            </div>
        </div>
    </div>
    	<div class="col-lg-4">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default" style="margin-left: -70%; width: 240%;">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <% if current_user %>
                                    Welcome <%= current_user.name %>!
                                    <%= link_to "Sign Out", users_logout_path,  :style=>"float:right" %>
                                <%else%>
                                    Please Sign In
                                <% end %>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <%= yield %>   
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
</html>